<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>             
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-settings"></i><span> Configuration </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin" onclick="javascript:go_tohref();"> Admin </a></li>
                        <li><a href="/AdminDepartment" onclick="javascript:go_tohref();"> Admin Department </a></li>
                        <li><a href="/Category" onclick="javascript:go_tohref();"> Category </a></li>
                        <li><a href="/Department" onclick="javascript:go_tohref();"> Department </a></li>
                        <li><a href="/Employee" onclick="javascript:go_tohref();"> Employee </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-pencil-alt"></i> <span> Transaction </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/Capa/Create" onclick="javascript:go_tohref();"> New CAPA </a>
                        </li>
                        <li>
                            <a href="/ToDo/Index" onclick="javascript:go_tohref();"> List To Do </a>
                        </li>
                        <li>
                            <a href="/ListInProgress">List In Progress</a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript:go_tohref('in-progress');">List Archive</a>
                        </li>

                        
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>