@using Microsoft.AspNetCore.Identity
@using CAPA.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <!-- Image Logo here -->
            <a href="#" class="logo">
                <i class="icon-c-logo"> <img src="~/images/lampu.png" height="42" /> </i>
                <span>CAPA</span>
            </a>
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown top-menu-item-xs">
                        <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <img src="~/images/users/user2.png" alt="user-img" class="img-circle">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <b style="margin-left:10px;">@UserManager.GetUserAsync(User).Result.FirstName</b>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="javascript:go_tohref('in-progress');"><i class="ti-lock m-r-5 text-custom"></i> Change Password</a>
                            </li>
                            <li class="divider"></li>
                            <li>                                
                                <a href="/Identity/Account/Logout"><i class="ti-power-off m-r-5 text-danger"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>