



<div class="row">
    <div class="col-sm-12">
        <div class="card-box">

            <div class="well text-center" style="padding: 5px">
                <label>
                    To Do
                </label>
            </div>

            @* <div class="row" style="padding: 10px">
                    <button type="button" class="btn btn-success waves-effect waves-light m-b-15">To XLS</button>
                </div>*@

            <table class="table table-striped table-responsive" id="tbl_capa">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CAPA No</th>
                        <th>Source</th>
                        <th>Problem</th>
                        <th>Initiation Date</th>
                        <th>Initiator</th>
                        <th>Flag</th>
                        <th>#</th>
                    </tr>
                </thead>
            </table>
        </div><!--- div nya card-box --->
    </div>
</div>

@section tambahan_js {
    <script type="text/javascript">
                    let dataTableCapa;

                    $(document).ready(function () {

                        dataTableCapa = $("#tbl_capa").DataTable({
                            "processing": true, // A boolean property that when enables shows the processing indicator when the table is being processed.
                            "serverSide": true, // This property enables server-side processing
                            "filter": false, // enables/disables the search bar.
                            "ajax": { //used to fetch the data from external sources, in our case, API
                                "url": "/ToDo/GetToDos",
                                "type": "POST",
                                "datatype": "json"
                            },
                            "columnDefs": [
                                {
                                //Here we can define the properties of each column like visibility, isSearchable, and so on.
                                //Remember, the first column is Id? Let’s hide it from the Datatable and not include it in the search.
                                    "targets": [0],
                                    "visible": false,
                                    "searchable": false,
                                },
                                {
                                    "targets": [4],
                                    "render": function (data) {
                                        return moment(data).format('DD-MMM-YYYY HH:mm');
                                    },
                                }
                            ],

                            "columns": [
                                //It is important to use camelCasing while defining the names of the variables.displayName will work.
                                //But DisplayName won’t.Quite weird, but that’s how js works.Make sure you follow camelCasing standard while working with js scripts.
                                { "data": "id", "name": "id", "autoWidth": true },
                                { "data": "capa_no", "name": "capa_no", "autoWidth": true },
                                { "data": "source", "name": "source", "autoWidth": true },
                                { "data": "problem", "name": "problem", "autoWidth": true, "sortable": true },
                                { "data": "initiation_date", "name": "initiation_date", "autoWidth": true, "sortable": true },
                                { "data": "initiator", "name": "initiator", "autoWidth": true, "sortable": true },
                                { "data": "flag", "name": "flag", "autoWidth": true, "sortable": true },
                                {
                                    "render": function (data, type, row)
                                    {
                                        return "<a@* href='ToDo/Update/" + row.id + "'*@ class='btn btn-sm btn-danger'; >Edit</a>&nbsp;&nbsp;&nbsp;<button href='#' class='btn btn-sm btn-success' onclick=print('" + row.capa_no + "'); >To XLS</button>";
                                    },
                                    "sortable": false, "autoWidth": true
                                },
                            ]
                        });


                    });

        function print(Number) {
            window.location.href = "@Url.RouteUrl(new
            { Controller = "ExportFile", Action = "ToExcel" })/?NoCapa=" + Number;
        }


    </script>
}

